@font-face {
    font-family: 'caveatregular';
    src: url('caveat-font/caveat-variablefont_wght-webfont.woff2') format('woff2'),
        url('caveat-font/caveat-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'caveatregular';
}

body {
    min-height: 100vh;
    background-color: rgb(229, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    margin-top: 2rem;
    background: repeating-linear-gradient(180deg, gray 0%, rgb(221, 210, 210) .3%, white .3%, white 5%);
    border-left: 35px dotted black;

    margin-left: 10px;
    transform: rotate(-2deg);

    >div:first-child {
        display: grid;
        grid-template-columns: 1.5rem 1fr;
        gap: 10px;
        width: fit-content;

        img {
            width: 1.5rem;
            position: relative;
            left: 5px;
        }

        >label:first-child {
            grid-row: 1;
            grid-column: 1;
        }

        >label:last-child {
            grid-row: 2;
            grid-column: 1;
        }

        input {
            text-align: center;

            caret-color: orange;

            font-size: 2rem;
            padding: .2rem 1rem;
            /* border-radius: 25px;*/
            font-weight: 700;
            letter-spacing: 1px;
            margin: 0 auto;

            &:first-of-type {

                grid-row: 1;
                grid-column: 2;
            }

            &:last-of-type {
                grid-row: 2;
                grid-column: 2;
            }

            &::selection {
                background: orange;
            }

            border-width: 5px;
            border-image: url(tac-X.svg) 30 round;

        }

    }

}

#board {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: repeat(3, min-content);
    gap: 0px;
    padding: 1rem 1rem calc(1rem + 25px) 1rem;
    border-style: double;
    border-color: rgba(158, 106, 10, 0.46);
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top-width: 1.5rem;
    border-start-end-radius: 12px;
    border-start-start-radius: 10px;

    &::selection {
        background: transparent;
    }

    legend {
        font-size: 2rem;
        margin-left: auto;

        img {
            width: 50px;
            border: 4px inset rgb(230, 198, 141);
            transform: rotate(-45deg);
            z-index: 2;
            margin: 6px;
        }
    }

    #results {
        grid-column: 1 / -1;
        grid-row: 2;
        justify-self: stretch;
        align-self: stretch;
        height: 100%;

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;

        p {
            grid-column: 1;
            grid-row: 1;
            opacity: 0;
            text-align: center;
            font-weight: 900;
            align-self: center;
            padding-top: 4px;
            padding-bottom: 4px;
        }
    }

    >div:not(.right) {
        border-right: 10px solid black;
        transform: skewY(-1deg);
    }

    >div:not(.bottom) {
        border-bottom: 10px solid black;
        transform: skew(1deg, 1deg);
    }

    >div.middle {
        transform: skewY(1deg);

        &.right {
            grid-column: 3;
        }

        &.left {
            grid-column: 1;
        }

        &.center {
            grid-column: 2;
        }
    }

    >div.cell.top {
        grid-row: 1;
    }

    >div.cell.bottom {
        grid-row: 3;
    }

    >div.cell:not(.top):not(.bottom) {
        grid-row: 2;
    }

    >div {
        display: grid;
        grid-template-rows: min-content;
        grid-template-columns: min-content;

        img {
            grid-row: 1;
            grid-column: 1;
            opacity: 0;
            padding: 8px;
        }

        img:last-child {
            opacity: 0;

        }

    }
}

.current-player {
    background: repeating-linear-gradient(0deg, transparent 0%, #ebe2ef 10%,
            #e7dfeb 30%, transparent 50%, transparent 60%, #bbcfe1 90%, transparent 100%);
    /*background-color: black;*/
    background-clip: content-box;
    color: black;
}

img {
    -webkit-user-drag: none;
    /* stops people from being able to drag my images on chrome */
}

.end-game {

    background: black;
    z-index: 3;
    transform: scale(1.5);

    &:not(img) {
        opacity: 1 !important;
        border-radius: 25px;
        color: white;
        border: 3px dashed orange;
    }

}

body div:not(.cell) img:hover {
    transform: scale(1.1);
    border-bottom: 3px solid orange;
}

.tooltip {
    grid-column: 2;
    grid-row: 1 / 2;
    opacity: 0;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 1px 3px;
    color: white;
    background: repeating-radial-gradient(circle at top, transparent 0%, transparent 10%,
            rgba(158, 106, 10) 10%, rgba(158, 106, 10) 90%, transparent 90%, transparent 100%);
    background-size: 10px 1.35rem;
    background-clip: padding-box;
    justify-self: end;
    align-self: center;
    align-content: center;
    position: relative;
    left: 1rem;
    top: 2rem;
}

.reset-tooltip {
    opacity: 0;
    font-size: 1.1rem;
    position: absolute;
    left: 50%;
}

img#reset:hover+.reset-tooltip {
    opacity: 1;
}

img#reset:not(.end-game)+.reset-tooltip {
    opacity: 0;
}

.end-game+.reset-tooltip {
    opacity: 1;
}

input:hover~.tooltip {
    opacity: 1;
    z-index: 3;
}

/**
failed attempt at adding a hover effect on the board
My attempt interfered with game-play!

.center>span {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    color: orange;
    text-shadow: 1px 1px black;
    opacity: 0;
    z-index: -1;
}

#board .center span {
    opacity: 0;
    z-index: -1;
}

#board:hover .center span {
    opacity: 1;
    z-index: 2;
}
**/

.blink {
    animation: blink 1s 5;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
        color: orange;
    }

    100% {
        opacity: 1;
    }
}